// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/edx/paragon/blob/master/scss/core/ for reference

$body-bg: #871F16;
$link-color: black;

$btn-secondary-bg: #A9281B;
$btn-primary-color: white;
$btn-primary-bg: #AD281C;
$btn-primary-hover-bg: #AD28FF;

$btn-primary-hover-color: #12fFfA;
$btn-primary-border-color: #47100B;

$btn-primary-hover-border-color: #126F9A;

$success: #11ff23;
$primary: #004411;


$brand: #A9281B;
$border-radius: 21px;
